body {
	background: rgb(39, 39, 39);
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	font-size: 72px;
	background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#converter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid white;
}

#converter input,
#converter select,
#converter button {
	font-size: 16px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	flex-grow: 1;
}

#converter input[type="number"] {
	width: 100%;
}

#converter #convert {
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
}

#converter #convert:hover {
	background-color: #0069d9;
}
